.geoWeather__loader {
  width: 150px;
  margin: 0 auto 10px auto;
  position: relative;
  top: 50px;

  > div {
    font-size: 40px;
    width: 40px;
    margin: 0 auto;

    > i {
      font-size: 40px;
    }
  }
}